{# <li role="presentation" class="active"><a href="{{ url("dokumenty_index")}}">Home</a></li> #}
{# <li role="presentation"><a href="{{ url('dokumenty_dane') }}">Zestawienie miesięczne</a></li> #}
{# <li role="presentation"><a href="{{ url('dokumenty_dodaj') }}">Dodaj</a></li> #}
{# <li role="presentation"><a href="{{ url('dokumenty_test') }}">Test</a></li> #}
{# <li role="presentation"><a href="{{ url('dokumenty_user') }}">Dane użytkownika</a></li> #}
{# <li role="presentation"><a href="{{ url('logout') }}">Logout</a></li> #}
<li role="presentation" class="active pull-right"><a href="{{ url('admin') }}">Admin</a></li>
